
body {
  margin: 0;
  font-family: system-ui;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}



h1 {
  margin-bottom: 20px;
}



.search-box {
  display: flex;
  gap: 10px;
}
input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #667eea;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}
button.secondary {
  background: #28a745;
}
button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #f8f9fa;
  text-align: left;
}

.hidden {
  display: none;
}

/* footer */

.footer {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: #e2e8f0;
  padding: 5px 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
}



.footer-box {
  /* max width is outo to side of screen */
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* good style for copyright */
.copyright {
  font-size: 12px;
  color: #94a3b8;
}

.logo {
  color: #38bdf8;
}
.description {
  font-size: 14px;
  color: #94a3b8;
}
.footer-links a {
  margin: 0 10px;
  color: #cbd5f5;
  text-decoration: none;
}
.footer-links a:hover {
  color: #38bdf8;
}
.author span {
  color: #38bdf8;
  font-weight: bold;
}
