version: "3.9"

services:

  app:

    build: .

    ports:
      - "4000:4000"

    depends_on:
      - redis

    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379


  redis:

    image: redis:7

    ports:
      - "6379:6379"
